<div ng-cloak>
    <div class="page-title">
        <div class="title_left">
            <h3 translate="vk.title">
                VK Cloud
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2 translate="vk.groups.activity.title">
                        Group & Users Activity
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" name="form" novalidate show-validation>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groups"
                                   translate="vk.groups.activity.list">
                                Group List
                            </label>

                            <div class="col-md-5 col-sm-5 col-xs-10">
                                <textarea name="groups" ng-model="dto.groups" type="text" id="groups"
                                          class="form-control col-md-7 col-xs-12"/>
                                <div ng-show="form.groups.$dirty && form.groups.$invalid">
                                    <p class="help-block"
                                       ng-show="form.groups.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <input type="file" id="file" name="file"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="posts"
                                   translate="vk.groups.activity.post-list">
                                Post List
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea ng-model="dto.postIds" type="text" name="posts" id="posts"
                                          class="form-control col-md-7 col-xs-12"/>
                                <div ng-show="form.posts.$dirty && form.posts.$invalid">
                                    <p class="help-block"
                                       ng-show="form.posts.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="max-days"
                                   translate="vk.groups.activity.max-days">
                                Max Days
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.maxDays" type="number" min="1" max="200" name="maxDays" id="max-days" required="required"
                                          class="form-control col-md-7 col-xs-12"/>
                                <div ng-show="form.maxDays.$dirty && form.maxDays.$invalid">
                                    <p class="help-block"
                                       ng-show="form.maxDays.$error.required" translate="vk.general.validation.required">
                                    </p>
                                    <p class="help-block"
                                       ng-show="form.maxDays.$error.min || form.maxDays.$error.max" translate="vk.general.validation.range"
                                        translate-values="{min: '1', max: '200'}">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="min-count"
                                   translate="vk.groups.activity.min-count">
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.minCount" type="number" min="0" name="minCount" id="min-count"  required="required"
                                       class="form-control col-md-7 col-xs-12"/>
                                <div ng-show="form.minCount.$dirty && form.minCount.$invalid">
                                    <p class="help-block"
                                       ng-show="form.minCount.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="count-by-all-groups"
                                   translate="vk.groups.activity.count-by-all-groups">
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.countByAllGroups" type="checkbox" id="count-by-all-groups"
                                       class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="count-likes"
                                   translate="vk.groups.activity.count-likes">
                                count likes <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.countLikes" type="checkbox" id="count-likes"
                                       class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="count-reposts"
                                   translate="vk.groups.activity.count-reposts">
                                count reposts <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.countReposts" type="checkbox" id="count-reposts"
                                       class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="count-comments"
                                   translate="vk.groups.activity.count-comments">
                                count comments <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.countComments" type="checkbox" id="count-comments"
                                       class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="task-info"
                                   translate="vk.groups.activity.task-info">
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input ng-model="dto.taskInfo" type="text" id="task-info" name="taskInfo" required="required"
                                       class="form-control col-md-7 col-xs-12"/>
                                <div ng-show="form.taskInfo.$dirty && form.taskInfo.$invalid">
                                    <p class="help-block"
                                       ng-show="form.taskInfo.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button ng-click="submit()" ng-disabled="form.$invalid" class="btn btn-success" translate="entity.action.submit">
                                    Отправить
                                </button>
                            </div>
                        </div>
                        <div ng-show="message" class="alert alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span>
                            </button>
                            {{message}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div translate="vk.groups.activity.definition">
                Тут описание
            </div>
        </div>
    </div>


</div>
