<div ng-cloak>
    <div class="page-title">
        <div class="title_left">
            <h3 translate="vk.title">
                Вконтакте облачный
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2 translate="vk.list-operation.title">
                        Users - opinion leaders
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" name="form" novalidate show-validation>
                        <div class="form-group">
                            <div class="col-md-4 label-wrap">
                                <label class="control-label" for="list1"
                                       translate="vk.list-operation.list1"/>
                            </div>
                            <div class="col-md-8">
                                <textarea name="list1" ng-model="list1" type="text" id="list1"
                                          class=""/>
                                <div ng-show="form.list1.$dirty && form.list1.$invalid">
                                    <p class="help-block"
                                       ng-show="form.list1.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4">
                                <div class="filewrap">
                                    <input type="file" id="file1" name="file1"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 label-wrap">
                                <label class="control-label" for="list2"
                                       translate="vk.list-operation.list2"/>
                            </div>
                            <div class="col-md-8">
                                <textarea name="list2" ng-model="list2" type="text" id="list2"
                                          class=""/>
                                <div ng-show="form.list2.$dirty && form.list2.$invalid">
                                    <p class="help-block"
                                       ng-show="form.list2.$error.required" translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-4">
                                <div class="filewrap">
                                    <input type="file" id="file2" name="file2"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 label-wrap">
                                <label class="control-label" for="type"
                                       translate="vk.list-operation.type"/>
                            </div>
                            <div class="col-md-8">
                                <select name="type" ng-model="type" type="text" id="type"
                                        ng-options="types.indexOf(item)+1 as item for item in types"
                                        class=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 label-wrap">
                                <label class="control-label" for="task-info"
                                       translate="vk.list-operation.task-info">
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input ng-model="taskInfo" type="text" name="taskInfo" id="task-info" required
                                       class=""/>

                                <div ng-show="form.taskInfo.$dirty && form.taskInfo.$invalid">
                                    <p class="help-block"
                                       ng-show="form.taskInfo.$error.required"
                                       translate="vk.general.validation.required">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-8 col-md-offset-4 btnwrap">

                                <button ng-click="submit()" ng-disabled="form.$invalid" class="btn blbtn"
                                        translate="entity.action.submit">Отправить
                                </button>

                            </div>

                        </div>

                        <div ng-show="message" class="alert alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span>
                            </button>
                            {{message}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="desctask" translate="vk.list-operation.definition">
                Тут описание
            </div>
        </div>
    </div>


</div>
