<div ng-cloak>

    <div class="row">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2 translate="vk.groups.search.title">
                        Topic Activity
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate>
                        <div class="form-group">
                            <div class="col-md-4 label-wrap">
                                <label class="control-label" for="query"
                                       translate="vk.groups.search.query">
                                    Group List
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input ng-model="queryInfo" type="text" id="query" required="required"
                                       class=""/>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-8 col-md-offset-4 btnwrap">

                                <button ng-click="submit()" class="btn blbtn"
                                        translate="entity.action.submit">Отправить
                                </button>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="col-md-8 col-md-offset-4 btnwrap">

                                <button ng-click="export()" class="btn blbtn" translate="entity.action.export">
                                    Экспорт
                                </button>

                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" ng-model="allSelected"/></th>
                                    <th></th>
                                    <th translate="vk.groups.table.name">ID</th>
                                    <th translate="vk.groups.table.subscribers">ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="group in groups track by group.id">
                                    <td><input type="checkbox" ng-model="group.selected"/></td>
                                    <th><img ng-src="{{group.photo50}}"></th>
                                    <td><a ng-href="https://new.vk.com/{{group.screenName}}">{{group.name}}</a></td>
                                    <td>{{group.membersCount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="message" class="alert alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span>
                            </button>
                            {{message}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="desctask" translate="vk.groups.activity.definition">
                Тут описание
            </div>
        </div>
    </div>


</div>
