@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic-ext'

$sans-serif:  "Open Sans", Arial, sans-serif


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $sans-serif
	-webkit-font-smoothing: antialised

.iconwrap
	text-align: center
	width: 30px
	display: inline-block

.notifications.dropdown > a
	padding: 0

.logo
	img
		width: 100px

.page-container
	.sidebar-menu
		background-color: #2d3035
		#main-menu
			li
				text-transform: uppercase
				// width: 90%
				margin: auto
				border-bottom: none
				&:hover
					background-color: #000
				i
					color: #d9b878

label
	font-weight: normal
	font-size: 14px

input[type="file"]
	font-size: 12px
	margin-top: 20px

textarea
	background-color: #e7e9ef
	width: 100%
	outline: none
	border: none
	border-radius: 5px
	padding: 10px
	font-size: 14px
	height: 50px

input[type=text], input[type=number]
	background-color: #e7e9ef
	width: 100%
	outline: none
	border: none
	border-radius: 5px
	padding: 10px
	font-size: 14px


input[type=checkbox]
	width: 30px
	height: 15px
	// background:url(check_radio_sheet.png) left top no-repeat
	cursor: pointer
	outline: none
	border: none
	&:checked, &:focus
		outline: none

.form-horizontal .control-label
	padding: 0

.laberwrap
	text-align: right

.btnwrap
	text-align: center

.blbtn
	background-color: #1f5dea
	padding: 10px 60px
	border-radius: 30px
	font-size: 14px
	text-transform: uppercase
	color: #fff
	opacity: 1
	&:hover
		background-color: #1f5dea
		color: #fff
		cursor: pointer

.form-control
	display: block
	border: none
	padding: 10px 30px
	width: 100%
	margin: 10px
	font-size: em(14px)
	color: #000
	outline: none
	border: 1px solid #ebebeb

.x_title
	h2
		text-align: center
		padding-bottom: 30px
		font-weight: normal
		font-size: 24px

.desctask
	font-size: 14px
	color: #9c9c9c
	padding-top: 110px

.form-group
	padding: 25px

// .filewrap
// 	float: right

// .page-container
// 	width: 100%
// 	display: table
// 	height: 100%
// 	table-layout: fixed

// .page-container .sidebar-menu
// 	display: table-cell
// 	vertical-align: top
// 	background: #22262E
// 	width: 340px
// 	position: relative
// 	z-index: 100
// 	box-sizing: border-box


// .page-container .main-content
// 	position: relative
// 	display: table-cell
// 	vertical-align: top
// 	padding: 20px
// 	background: #ffffff
// 	width: 100%
// 	box-sizing: border-box

// .page-container .sidebar-menu #main-menu li
//   position: relative
//   margin: 0
//   font-size: 12px
	// border-bottom: 1px solid rgba(69, 74, 84, 0.7)