<div class="col-md-6 col-sm-8 clearfix" ng-switch="isAuthenticated()">

    <ul class="user-info pull-left pull-none-xsm">

        <li class="profile-info dropdown">

            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span translate="global.menu.account.main"></span>
            </a>
            <ul class="dropdown-menu">

                <li class="caret"></li>
                <li ng-switch-when="true">
                    <a ui-sref="settings">
                        <i class="entypo-user"></i>
                        <span translate="global.menu.account.settings"></span>
                    </a>
                </li>
                <li ng-switch-when="true"><a ui-sref="password" data-toggle="collapse"
                                             data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-lock"></span>
                    <span translate="global.menu.account.password">Password</span></a></li>
                <li ng-switch-when="true"><a ui-sref="sessions" data-toggle="collapse"
                                             data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-cloud"></span>
                    <span translate="global.menu.account.sessions">Sessions</span></a></li>
                <li ng-switch-when="false"><a ui-sref="login" data-toggle="collapse"
                                              data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-log-in"></span>
                    <span translate="global.menu.account.login">Sign in</span></a></li>
                <li ng-switch-when="false"><a ui-sref="register" data-toggle="collapse"
                                              data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-plus-sign"></span>
                    <span translate="global.menu.account.register">Register</span></a></li>

            </ul>
        </li>

    </ul>

    <ul class="user-info pull-left pull-none-xsm" ng-switch-when="true" has-authority="ROLE_ADMIN">

        <li class="profile-info dropdown">

            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span translate="global.menu.admin.main"></span>
            </a>
            <ul class="dropdown-menu">

                <li class="caret"></li>
                <li><a ui-sref="user-management" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-user"></span>
                    <span translate="global.menu.admin.user-management">User management</span></a>
                </li>
                <li><a ui-sref="tracker" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-eye-open"></span>
                    &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                <li><a ui-sref="metrics" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-dashboard"></span>
                    <span translate="global.menu.admin.metrics">Metrics</span></a></li>
                <li><a ui-sref="health" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-heart"></span>
                    <span translate="global.menu.admin.health">Health</span></a></li>
                <li><a ui-sref="configuration" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-list-alt"></span>
                    <span translate="global.menu.admin.configuration">Configuration</span></a></li>
                <li><a ui-sref="audits" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-bell"></span>
                    <span translate="global.menu.admin.audits">Audits</span></a></li>
                <li><a ui-sref="logs" data-toggle="collapse"
                       data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-tasks"></span>
                    <span translate="global.menu.admin.logs">Logs</span></a></li>
                <li ng-hide="inProduction"><a ui-sref="docs" data-toggle="collapse"
                                              data-target=".navbar-collapse.in"><span
                    class="glyphicon glyphicon-book"></span>
                    <span translate="global.menu.admin.apidocs">API</span></a></li>

            </ul>
        </li>

        <li class="notifications dropdown">

            <a ng-click="loadAll()" href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="entypo-list"></i>
            </a>

            <ul class="dropdown-menu">
                <li class="top">
                    <p>Выполняется {{tasks.length}} заданий</p>

                </li>

                <li>
                    <ul class="dropdown-menu-list scroller">
                        <li ng-repeat="task in tasks track by task.id">
                            <a href="">
                                <span class="task">
                                    <span class="desc">{{task.taskInfo}}</span>
                                    <span class="percent">{{task.percent}}%</span>
                                </span>

                              <span class="progress">
                                    <span ng-style="{'width': task.percent+'%'}" class="progress-bar progress-bar-success">
                                        <span class="sr-only">{{task.percent}}% Complete</span>
                                    </span>
                              </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="external">
                    <a ui-sref="task-manager">Отобразить все задания</a>
                </li>
            </ul>

        </li>

    </ul>


</div>
<div class="col-md-6 col-sm-4 clearfix hidden-xs" ng-show="isAuthenticated()">

    <ul class="list-inline links-list pull-right">


        <li class="sep"></li>

        <li>
            <a href="" ng-click="logout()" id="logout"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">
                <span translate="global.menu.account.logout">Sign out</span>
                <i class="entypo-logout right"></i>
            </a>
        </li>
    </ul>

</div>
